<h2>Edit connection</h2>

<%= render "form.html", changeset: @changeset,
                        dnsimple_domains: @dnsimple_domains,
                        heroku_apps: @heroku_apps,
                        action: connection_path(@conn, :update, @connection) %>
